.router-link-active{
	background-color: #aac6f0
}

.router-link-active .t{
	/* font-size:15px; */
	font-weight: bold;
}

html {
	background: #fff;
	color: #000
}

article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul {
	margin: 0;
	padding: 0
}

body,button,input,select,textarea {
	font: 12px Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif
}

input,select,textarea {
	font-size: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

th {
	text-align: inherit
}

fieldset,img {
	border: none;
	vertical-align: middle
}

iframe {
	display: block
}

abbr,acronym {
	border: none;
	font-variant: normal
}

del {
	text-decoration: line-through
}

address,caption,cite,code,dfn,em,th,var {
	font-style: normal;
	font-weight: 400
}

ol,ul {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 400
}

q:after,q:before {
	content: ""
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

a {
	transition: color .2s
}

a,a:hover,ins {
	text-decoration: none
}

:focus,a:focus {
	outline: none
}

.clearfix:after,.clearfix:before {
	content: "";
	display: table
}

.clearfix:after {
	clear: both;
	overflow: hidden
}

.clearfix {
	zoom: 1
}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden
}

.hide {
	display: none
}

.block {
	display: block
}

.fl,.fr {
	display: inline
}

.fl {
	float: left
}

.fr {
	float: right
}

.bili-icon,.icon {
	display: inline-block;
	background-image: url(//static.hdslb.com/images/base/icons.png)
}

.bili-wrapper {
	margin: 0 auto;
	width: 1160px
}


.header-m {
	font: 12px Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
	position: relative;
	z-index: 10000;
	background: #fff
}

.header-m,.header-m article,.header-m aside,.header-m blockquote,.header-m button,.header-m code,.header-m dd,.header-m details,.header-m dl,.header-m dt,.header-m fieldset,.header-m figcaption,.header-m figure,.header-m footer,.header-m form,.header-m h1,.header-m h2,.header-m h3,.header-m h4,.header-m h5,.header-m h6,.header-m header,.header-m hgroup,.header-m hr,.header-m input,.header-m legend,.header-m li,.header-m menu,.header-m nav,.header-m ol,.header-m p,.header-m pre,.header-m section,.header-m td,.header-m textarea,.header-m th,.header-m ul {
	margin: 0;
	padding: 0
}

.header-m input,.header-m select,.header-m textarea {
	font-size: 100%
}

.header-m table {
	border-collapse: collapse;
	border-spacing: 0
}

.header-m th {
	text-align: inherit
}

.header-m fieldset,.header-m img {
	border: none;
	vertical-align: middle
}

.header-m abbr,.header-m acronym {
	border: none;
	font-variant: normal
}

.header-m del {
	text-decoration: line-through
}

.header-m address,.header-m caption,.header-m cite,.header-m code,.header-m dfn,.header-m em,.header-m th,.header-m var {
	font-style: normal;
	font-weight: 400
}

.header-m ol,.header-m ul {
	list-style: none
}

.header-m caption,.header-m th {
	text-align: left
}

.header-m h1,.header-m h2,.header-m h3,.header-m h4,.header-m h5,.header-m h6 {
	font-size: 100%;
	font-weight: 400
}

.header-m q:after,.header-m q:before {
	content: ""
}

.header-m sub,.header-m sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

.header-m sup {
	top: -.5em
}

.header-m sub {
	bottom: -.25em
}

.header-m a {
	-webkit-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s
}

.header-m a,.header-m a:hover,.header-m ins {
	text-decoration: none
}

.header-m :focus,.header-m a:focus {
	outline: none
}

.header-m .clearfix:after,.header-m .clearfix:before {
	content: "";
	display: table
}

.header-m .clearfix:after {
	clear: both;
	overflow: hidden
}

.header-m .clearfix {
	zoom: 1
}

.header-m .clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden
}







.header-m .nav-menu {
	position: relative;
	z-index: 200;
	height: 42px;
	color: #222
}



.header-m .nav-menu .nav-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(0,0%,100%,.4);
	-webkit-box-shadow: rgba(0,0,0,.1) 0 1px 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1)
}

.header-m .nav-menu .nav-con .nav-item {
	float: left;
	text-align: center;
	line-height: 42px;
	height: 42px;
	position: relative;
	background-color: hsla(0,0%,100%,0);
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}



.header-m .nav-menu .nav-con .nav-item .t {
	color: #222;
	height: 100%;
	display: block;
	padding: 0 11px;
	cursor: pointer
}




.header-m .nav-menu .nav-con .nav-item:hover {
	background-color: hsla(0,0%,100%,.3)
}








/* useful2.0 */

.header-m .head-banner {
	position: relative;
	z-index: 199;
	height: 170px;
	margin-top: -42px;
	background: #eee;
	background-position: center -10px;
	background-repeat: no-repeat
}

.header-m .head-banner .banner-link {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%
}

.header-m .head-banner .head-content {
	position: relative;
	height: 170px
}

/* useful1.0 */

.header-m .search {
	position: absolute;
	bottom: 20px;
	right: 0;
	width: 268px;
	height: 32px;
	padding: 2px 2px 2px 72px;
	background-color: #e5e9ef;
	background-color: rgba(0,0,0,.12);
	border-radius: 6px;
	font-size: 12px;
	z-index: 10
}

.header-m .search .searchform {
	background-color: #fff;
	background-color: hsla(0,0%,100%,.88);
	display: block;
	height: 32px;
	border-radius: 4px;
	-webkit-transition: background-color .2s;
	-o-transition: .2s background-color;
	transition: background-color .2s
}

.header-m .search .searchform:hover {
	background-color: #fff
}

.header-m .search .link-ranking {
	position: absolute;
	left: 2px;
	top: 2px;
	height: 32px;
	line-height: 32px;
	background-color: #fff;
	background-color: hsla(0,0%,100%,.88);
	border-radius: 4px;
	width: 68px;
	-webkit-transition: background-color .2s;
	-o-transition: .2s background-color;
	transition: background-color .2s
}

.header-m .search .link-ranking span {
	padding-left: 26px;
	color: #5f2d3d;
	display: inline-block;
	background: url(//static.hdslb.com/images/base/icons.png) -659px -655px no-repeat
}



.header-m .search .search-keyword {
	float: left;
	width: 200px;
	color: #222;
	font-size: 12px;
	overflow: hidden;
	height: 32px;
	line-height: 32px;
	padding: 0 12px;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent
}

.header-m .search button.search-submit {
	display: block;
	position: absolute;
	right: 0;
	width: 48px;
	min-width: 0;
	cursor: pointer;
	height: 32px;
	background: url(//static.hdslb.com/images/base/icons.png) -653px -720px;
	margin: 0;
	padding: 0;
	border: 0
}

.header-m .search button.search-submit:hover {
	background-position: -718px -720px
}

